* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f0aa70;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header {
    background-color: #ce7338;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}

.store-card {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.store-card-img {
    margin: 20px;
    cursor: pointer;
}

.products-wrapper {
    width: 350px;
    padding: 20px 20px 30px 20px;
    margin-bottom: 30px;
    background-color: #ce7338;
    border-radius: 15px;
    display: none;
}

.products-item {
    margin-bottom: 30px;
    color: #f2dabf;
}

.products-item-to-basket-button {
    width: 310px;
    color: #f2dabf;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
}



.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  }
  
  /* Модальное содержание/коробка */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
  }
  
  /* Кнопка закрытия */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }