* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #81BECE;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.wrapper {
    width: 1210px;
    margin: 0 auto;
}

.header {
    background-color: #378BA4;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.store-card {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.store-card-img {
    margin: 20px;
    cursor: pointer;
}

.products-items {
    padding: 20px 20px 30px 20px;
    margin-bottom: 30px;
    background-color: #378BA4;
    border-radius: 7px;
    width: 1210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 300px;
    margin-bottom: 30px;
    color: #E8EDE7;
    border: 1px solid;
}

.product-item img {
    width: 200px;
}

/* .active {
    width: 310px;
    color: #E8EDE7;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
} */
